/Chapter-2/HTML5 Canvas/nbproject/private/
/Chapter-2/HTML5Canvas/nbproject/private/
/Chapter-2/JavaScriptSourceFile/nbproject/private/
/Chapter-2/JavaScriptObjects/nbproject/private/
/Chapter-2/DrawOneSquare/nbproject/private/
/Chapter-2/2.1.HTML5Canvas/nbproject/private/
/Chapter-2/2.3.DrawOneSquare/nbproject/private/
/Chapter-2/2.4.JavaScriptObjects/nbproject/private/
/Chapter-2/2.5.ShaderSourceFiles/nbproject/private/
/Chapter-2/2.6.ParameterizedFragmentShader/nbproject/private/
/Chapter-3/3.1.RenderableObjects/nbproject/private/
/Chapter-3/3.2.MatrixTransform/nbproject/private/
/Chapter-3/3.3.TransformObjects/nbproject/private/
/Chapter-3/3.4.ViewProjectionAndViewport/nbproject/private/
/Chapter-3/3.5.CameraObjects/nbproject/private/
/Chapter-3/4.1.GameLoop/nbproject/private/
/Chapter-4/4.1.GameLoop/nbproject/private/
/Chapter-4/4.2.KeyboardSupport/nbproject/private/
/Chapter-4/4.3.ResourceMapAndShaderLoader/nbproject/private/
/Chapter-4/4.4.SceneFile/nbproject/private/
/Chapter-4/4.5.SceneObjects/nbproject/private/
/Chapter-4/4.6.AudioSupport/nbproject/private/
/Chapter-5/5.1.TextureShaders/nbproject/private/
/Chapter-5/5.2.SpriteShaders/nbproject/private/
/Chapter-5/5.3.SpriteAnimation/nbproject/private/
/Chapter-5/5.4.FontSupport/nbproject/private/
/Chapter-6/6.1.GameObjects/nbproject/private/
/Chapter-6/6.2.FrontAndChase/nbproject/private/
/Chapter-6/6.3.BBoxAndCollisions/nbproject/private/
/Chapter-6/6.4.PerPixelCollisions/nbproject/private/
/Chapter-6/6.5.GeneralPixelCollisions/nbproject/private/
/Chapter-6/6.6.SpritelPixelCollisions/nbproject/private/
/Chapter-7/7.1.CameraManipulations/nbproject/private/
/Chapter-7/7.2.CameraInterpolations/nbproject/private/
/Chapter-7/7.3.CameraShake/nbproject/private/
/Chapter-7/7.4.MultipleCameras/nbproject/private/
/Chapter-7/7.5.MouseInput/nbproject/private/
/Chapter-8/HTML5Application/nbproject/private/
/Chapter-9/9.1.RigidShapeBounds/nbproject/private/
/Chapter-9/9.2.RigidShapeImpulse/nbproject/private/
/Chapter-9/9.3.Particles/nbproject/private/
/Chapter-9/9.4.ParticleEmitters/nbproject/private/
/Chapter-10/10.1.TiledObjects/nbproject/private/
/Chapter-10/10.2.ParallaxObjects/nbproject/private/
/Chapter-10/10.3.LayerManager/nbproject/private/
/FinalGame_own_version/nbproject/private/
/Chapter-8/8.1.GlobalAmbient/nbproject/private/
/Chapter-8/8.2.SimpleLightShader/nbproject/private/
/Chapter-8/8.3.MultipleLights/nbproject/private/
/Chapter-8/8.4.NormalMapsAndIlluminationShaders/nbproject/private/
/Chapter-8/8.5.MaterialAnd Specularity/nbproject/private/
/Chapter-8/8.6.DirectionalAndSpotLights/nbproject/private/
/Chapter-8/8.7.ShadowShaders/nbproject/private/
